.border-btn{
  border-radius: 2em;
  border: 2px solid;
  padding: .5em 4em;
}
.ajax-loading{
  display: inline-block;
  .circleG{
    background-color:rgb(255,255,255);
    float:left;
    height:10px;
    margin-left:10px;
    width:10px;
    @include  animation-name(bounce_circleG);
    @include animation-duration(0.8775s);
    @include animation-iteration-count(infinite);
    @include animation-direction(normal);
    @include border-radius(5px);
  }

  .circleG_1{
    @include animation-delay(0.1795s);
  }

  .circleG_2{
    @include animation-delay(0.4055s);
  }

  .circleG_3{
    @include animation-delay(0.5285s);
  }

  @keyframes bounce_circleG{
    0%{}

    50%{
      background-color:rgb(109,113,127);
    }

    100%{}
  }

  @-o-keyframes bounce_circleG{
    0%{}

    50%{
      background-color:rgb(109,113,127);
    }

    100%{}
  }

  @-ms-keyframes bounce_circleG{
    0%{}

    50%{
      background-color:rgb(109,113,127);
    }

    100%{}
  }

  @-webkit-keyframes bounce_circleG{
    0%{}

    50%{
      background-color:rgb(109,113,127);
    }

    100%{}
  }

  @-moz-keyframes bounce_circleG{
    0%{}

    50%{
      background-color:rgb(109,113,127);
    }

    100%{}
  }
}

.static-icons{
  display: inline-block;
  .circle{
    float:left;
    height:10px;
    margin-left:10px;
    width:10px;
    @include border-radius(5px);
  }
}
